<ul>
  {% for item in include.nav %}
    <li><a href="{{ item.url }}" {% if page.url == item.url %}class="active"{% endif %}>{{ item.title }}</a></li>

    {% if item.subnav %}
      {% include navigation.html nav=item.subnav %}
    {% endif %}
  {% endfor %}
</ul>

<!-- <nav id="navbar">
  {% for item in site.data.navigation %}
  <a href="{{ item.url }}" {% if page.url == item.url %}class="active"{% endif %}>{{ item.title }}</a>
  {% if item.subpages[0] %}
  <ul>
    {% for subitem in item.subpages %}
    <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
</nav> -->
