<!-- <ul>
  {% for item in include.nav %}
    <li><a href="{{ item.url }}" {% if page.url == item.url %}class="active"{% endif %}>{{ item.title }}</a></li>

    {% if item.subnav %}
      {% include navigation.html nav=item.subnav %}
    {% endif %}
  {% endfor %}
</ul> -->

<nav id="navbar">
  <ul>
    {% for item in site.data.navigation %}
    <li>
      <a href="{{ item.url }}" {% if page.url == item.url %}class="active"{% endif %}>{{ item.title }}</a>
      <!-- {% if item.subnav %}
      <ul class="subnav">
        {% for subitem in item.subnav %}
        <li>
          <a href="{{ subitem.url }}" {% if page.url == subitem.url %}class="active"{% endif %}>{{ subitem.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %} -->
    </li>
    {% endfor %}
  </ul>
</nav>
