{% for post in site.posts %}
<article class="post">
    <h2>{{ post.title }}</h2>
    <p>
      <small>
        <i class="fa fa-user" aria-hidden="true"></i>
        {{ page.author }} &ensp;
        <i class="fa fa-calendar" aria-hidden="true"></i>
        {{ page.date | date_to_string }} &ensp;
        <i class="fa fa-folder" aria-hidden="true"></i>
        {% assign sortedCategories = page.categories | sort %}
        {% for category in sortedCategories %}
            <a href="/blog/{{ category }}">{{ category }} </a>
        {% endfor %}
      </small>
    </p>
    <p>{{ post.excerpt }}
    <a href="{{ post.url }}" class="card-link">Read more...</a></p>
</article>
{% endfor %}
