<p>
  <small>
    <i class="fa fa-user" aria-hidden="true"></i>
    {{ include.item.author }} &ensp;
    <i class="fa fa-calendar" aria-hidden="true"></i>
    {{ include.item.date | date_to_string }} &ensp;
    <i class="fa fa-tags" aria-hidden="true"></i>
    {% for category in include.item.categories %}
        <a href="/blog/{{ category }}.html" {% if page.url == item.url %}class="active"{% endif %}>{{ category }}</a>{% if forloop.last == false %}, {% endif %}
    {% endfor %}
  </small>
</p>
