:root {--base-width: 920px;}

html, body {
  height:100%;
  position: relative;
  margin: 0;
  font-family: "Segoe UI", Helvetica, Verdana, sans-serif;
}

body {
  display: grid;
  align-items: stretch;
  grid-gap: 0px;
  grid-template-areas:
  'left header right'
  'left navbar right'
  'left main right'
  'footer footer footer';
  grid-template-rows: min-content min-content auto 60px;
  grid-template-columns: auto var(--base-width) auto;
  background-color: lightblue;
}

header {
  grid-area: header;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
  }
}

section {
  grid-area: navbar;
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  nav {
    overflow: hidden;
    a {
      display: block;
      float: left;
      color: white;
      text-align: center;
      min-width: 50px;
      padding: 14px 16px;
      text-decoration: none;
      &.active {
        background-color: #666;
      }
      &:hover {
        background-color: #111;
      }
    }
  }
}

main {
  grid-area: main;
  display: grid;
  align-items: stretch;
  grid-gap: 20px;
  padding: 20px 0;
  grid-template-areas:
    'article menu';
  grid-template-columns: 3fr 1fr;
}

article {
  grid-area: article;
  padding: 2em;
  background-color: white;
}

aside {
   grid-area: menu;
   padding: 2em;
   background-color: #ececec;
   nav {
     a {
       display: block;
       color: black;
       background-color: white;
       padding: 0.5em;
       margin: 5px;
       text-align: center;
       text-decoration: none;
     }
   }
}


footer {
  grid-area: footer;
  color: white;
  background-color: #333;
  div {
    max-width: var(--base-width);
    margin: auto;
  }
}

dt {float: right;}
dd {margin: 0;}
dd + dt, dt + dd {margin-top: 1em;}

@media screen and (max-width: 1000px) {
  :root {--base-width: 720px;}
}

@media screen and (max-width: 800px) {
  :root {--base-width: 620px;}
}

@media screen and (max-width: 650px) {
  :root {--base-width: 100%;}
  body {
    background-color: olive;
    grid-template-areas:
    'header header header'
    'navbar navbar navbar'
    'left main right'
    'footer footer footer';
    grid-template-rows: min-content min-content auto 60px;
    grid-template-columns: 0px auto 0px;
  }
  main {
    padding: 10px;
    grid-template-areas:
      'menu'
      'article';
    grid-template-columns: auto;
  }
}
