:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  line-height: 1.5;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  'left   top     top     top     top     right'
  'left   logo    main    main    blank   right'
  'left   header  main    main    aside   right'
  'left   nav     main    main    aside   right'
  'left   .       main    main    aside   right'
  'left   lfoot   footer  footer  rfoot   right';
  grid-template-rows: min-content 200px 60px 190px auto min-content;
  grid-template-columns: auto 200px 390px 390px 200px auto;
  background-color: #eeeeee;
}
body::after {
  content: " ";
  grid-area: footer-start / left-start / footer-end / right-end ;
  background-color: #333333;
  z-index: -1;
}

img {width: 100%}

.logo {grid-area: logo;}
.logo img {max-width: 200px;}

header {grid-area: header;}
h1.title {
  color: #333333;
  margin: 0;
}
p.description {
  color: #999999;
  font-size: 12pt;
  font-weight: bold;
  margin: 0;
}

aside {grid-area: aside;}

main {grid-area: main;}
h1,h2,h3,h4,h5,h6 {margin: 0;}
h1 {font-size: 18pt;}

article {
  box-sizing: border-box;
  background-color: white;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  &.article {
    height: 100%;
    padding: 10mm 20mm 15mm 20mm;
    h1,h2,h3,h4,h5,h6 {margin: 1em 0 0.5em 0;}
  }
  &.heading, &.post {
    margin-bottom: 20px;
    padding: 10mm;
  }
}

address {
  // grid-area: address;
  font-style: normal;
}

a {
  color: #999999;
  text-decoration: none;
  border-bottom: 2px dotted #999999;
}
a.active, a:hover {
  color: #333333;
  background-color: #dddddd;
  border-bottom: 2px dotted #333333;
}

footer {
  grid-area: footer;
  color: white;
  background-color: #333333;
  padding: 0 1em;
}
footer a {
  color: #eee;
  border-color: #eee;
  background-color: #333;
}

dt {float: right;}
dd {margin: 0;}
dd + dt, dt + dd {margin-top: 1em;}

nav {
  grid-area: nav;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
nav, aside.toc {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li a {
      display: block;
      font-weight: bold;
      padding: 9px;
    }
  }
}
aside.toc {
  position: sticky;
  top: 20px;
}

@media screen and (max-width: 1300px) {
  body {
    grid-template-areas:
    'top  top    top    top    top'
    'left logo   main   main   right'
    'left header main   main   right'
    'left nav    main   main   right'
    'left aside  main   main   right'
    'left lfoot  footer footer right';
    grid-template-rows: min-content 200px 60px 190px auto min-content;
    grid-template-columns: auto 200px 390px 390px auto;
  }
}
@media screen and (max-width: 1080px) {
  body {grid-template-columns: auto 200px 290px 290px auto;}
}

@media screen and (max-width: 880px) {
  body {
    grid-template-areas:
    'top  top    top    top'
    'left logo   header right'
    'left logo   nav    right'
    'left main   main   right'
    'left aside  aside  right'
    'left footer footer right';
    grid-template-rows: min-content 40px 40px auto min-content min-content;
    grid-template-columns: auto 100px 500px auto;
  }
  nav {
    width: 100%;
    ul {
      flex-direction: row;
      li {
        width: 25%;
        a {
          text-align: center;
        }
      }
    }
  }
  article.article {padding: 10mm 15mm;}
  h1.title {font-size: 16pt;}
  p.description {font-size: 10pt;}
}
@media screen and (max-width: 680px) {
  body {
    grid-template-columns: min-content 100px auto min-content;
  }
}

@media screen and (max-width: 480px) {
  body {
    grid-template-areas:
    'top    top    top    top'
    'left   logo   header right'
    'left   nav    nav    right'
    'left   main   main   right'
    'left   aside  aside  right'
    'left   footer footer right';
    grid-gap: 10px;
    grid-template-rows: min-content 50px 40px auto min-content min-content;
    grid-template-columns: min-content 50px auto min-content;
  }
  article {padding: 5mm 10mm;}
}
