html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
    display: grid;
    grid-template-areas:
		'header'
		'main'
		'footer'
		'nav';
    grid-template-rows: 100px auto min-content 51px;
    background-color: gainsboro;
}

header {grid-area: header;}
aside {grid-area: aside;}
main {grid-area: main;}
footer {grid-area: footer;}
nav {grid-area: nav;}



h1.title {
	color: aliceblue;
}
p.description {
    color: lightsteelblue;
    font-weight: bold;
}
aside.toc ul {
    list-style-type: none;
    padding-left: 16px;
}
aside.toc ul li a {
    display: block;
    font-weight: bold;
    padding: 4px;
}
h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}

dt {float: right;}
dd+dt,
dt+dd {margin-top: 1em;}

header {
	position: fixed;
	display: flex;
	width: 100%;
    background-color: steelblue;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}
header .logo {
	width: 100px;
}
header .brand {
	padding: 0.5rem 2rem;
}
article, footer {
    box-sizing: border-box;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}
article.heading,
article.post,
article.article {
	margin: 10px 0;
    background-color: white;
}
article.article {
    padding: 1em 10vw 5em;
}
article.article h1,
article.article h2,
article.article h3,
article.article h4,
article.article h5,
article.article h6 {
    margin: 1em 0 0.5em;
}
article.heading,
article.post,
footer {
    padding: 1em 2em;
}
address {
    font-style: normal;
}
a {
    color: steelblue;
    text-decoration: none;
    border-bottom: 1px solid currentcolor;
}
a:hover {
	cursor: pointer;
    color: #333333;
    background-color: rgba(225,245,255,0.5);
}
footer {
    color: white;
	display: flex;
	justify-content: space-between;
    background-color: dimgrey;
}
footer a {
	color: aliceblue;
}
nav {
	position: fixed;
	bottom: 0;
	width: 100%;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.2);
}
nav ul {
    list-style-type: none;
    display: flex;
    grid-template-columns: repeat(4, 1fr);
}
nav li {
	width: 25%;
	text-align: center;
}
nav a {
	color: dimgrey;
	background-color: white;
	display: block;
    font-weight: bold;
    padding: 0.8em;
    border: 0;
}
nav a.active {background-color: lightgrey;}
nav a:hover {background-color: ghostwhite;}
nav a.active:hover {background-color: gainsboro;}

@media only screen and (min-width: 1024px) {
	nav, header {
		position: unset;
		box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
	}
	body {
		grid-template-areas:
			'. header .'
			'. nav .'
			'. main .'
			'. footer .';
		grid-template-rows: unset;
		grid-template-columns: auto 1000px auto;
	}
	article.article {padding: 50px 150px;}
	h1 {font-size: 2.5rem;}
	h2 {font-size: 2rem;}
	header .logo {width: 160px;}
	header .brand {padding: 2rem 3rem;}
}
