<!DOCTYPE html>
<html lang="en-us">
	<head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>{{ page.title }} | {{ site.title }}</title>
	  <link href="/assets/css/style.css" rel="stylesheet">
	</head>

	<body>
		<header>
	  	<div>
	    	<img src="/assets/img/header.png" alt="">
	      {% include navigation.html %}
	  	</div>
	  </header>

	  <!-- <main> -->
	  <article id="content">
			<h1>{{ page.title }}</h1>
			{{ content }}
	  </article>

		<aside id="menu">
	    <nav>
	      <a href="#">First</a>
	    	<a href="#">Second</a>
	  	</nav>
	  </aside>
	  <!-- </main> -->

		<footer>
	    <div>
	    	{% include footer.html %}
	  	</div>
		</footer>

	</body>
	<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var content = document.getElementById("content");
var menu = document.getElementById("menu");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky");
		content.classList.add("sticker");
		menu.classList.add("sticker")
  } else {
    navbar.classList.remove("sticky");
	  content.classList.remove("sticker");
	  menu.classList.remove("sticker");
  }
}
</script>
</html>
