<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
	  <title>{{ page.title }} | {{ site.title }}</title>
	  <link href="/assets/css/style.css" rel="stylesheet">
	</head>

	<body>
		<header>
	  	<div>
	    	<img src="/assets/img/header.png" alt="">
	      {% include navigation.html %}
	  	</div>
	  </header>

	  <!-- <main> -->
	  <article>
			<h1>{{ page.title }}</h1>
			{{ content }}
	  </article>

		<aside>
	    <nav>
	      <a href="#">First</a>
	    	<a href="#">Second</a>
	  	</nav>
	  </aside>
	  <!-- </main> -->

		<footer>
	    <div>
	    	{% include footer.html %}
	  	</div>
		</footer>

	</body>
</html>
