---
layout: default
---

<main class="post" id="content">
  <aside class="left">
    <nav>
      <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
    </nav>
  </aside>
  
  <aside class="right">
    <nav>
      <a href="{{ page.previous.url }}">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </nav>
  </aside>

  <article id="article">
    <h1>{{ page.title }}</h1>
    <p>{{ page.date | date_to_string }} - {{ page.author }}</p>
    {{ content }}
  </article>
</main>
