---
layout: default
---

<!-- <aside class="right">
  <nav>
    <a href="{{ page.previous.url }}">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  </nav>
  <nav>
    <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
  </nav>
</aside> -->

<main>
  <article class="article">
    <h1>{{ page.title }}</h1>
    <p>
      <small>
        <i class="fa fa-user" aria-hidden="true"></i>
        {{ page.author }} &ensp;
        <i class="fa fa-calendar" aria-hidden="true"></i>
        {{ page.date | date_to_string }} &ensp;
        <i class="fa fa-folder" aria-hidden="true"></i>
        {% for category in page.categories %}
            <a href="/blog/{{ category }}">{{ category }} </a>
        {% endfor %}
      </small>
    </p>
    {{ content }}
  </article>
</main>

<aside class="toc">
  {% include toc.html html=content %}
</aside>
